:root {
   --bg-img: url(https://res.cloudinary.com/stegault/image/upload/v1559727685/85004.jpg);
}
body {
    background-image: var(--bg-img);
    background-size: cover;
}

.brand {
  padding: 15px;
}

.nav-item {
  padding: 5px o;
}

p {
color: #a39b9b;
font-size: 15px;
}

.navbar-brand {
   display: inline-block;
   float: none;
   height: auto;
   margin: 0;
   padding: 0px 0px 0px;
   line-height: 20px;
}

.box {
  background: #fff;
  background: rgba(255,255,255,0);
  margin-bottom: 20px;
  padding: 30px 15px;
}

.col-lg-6{
background: #fff;
background: rgba(255,255,255,0);
width: 50%;
}

.panel-default {
  border-color: #000;
  border-width: 2px;
}

.panel-default p{
  color:black;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    color: rgba(255,255,255,0.1);
}
.navbar .nav > li > a {
    color:  #fff;
}
.navbar-default {
  background-color: rgba(255,255,255,0.1);
  border-color: none;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    color:rgba(255,255,255,0.1);
}

.navbar .navbar-collapse {
    text-align: center;
    color:rgba(255,255,255,0.1);
}
.panel-transparent .panel-heading{
    background: rgba(122, 130, 136, 0.2)!important;
}

.panel-transparent .panel-body{
    background: rgba(46, 51, 56, 0.2)!important;
}


footer ul { margin: 0; padding: 0; list-style: none; }
footer ul li { display: inline; margin-left: 25px; }



